a.augmero-anchor {
    display: block;
    visibility: hidden;
    padding-top: 20px;
}

.augmero-links {
    top: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0.2em 0.6em 0.4em 0.6em;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 0.5em;

    .augmero-profile {
        img {
            height: 6em;
            width: 6em;
        }
    }

    a {
        color: skyblue;
        padding: 1em;
        margin: 0.5em auto;
        width: 75%;
        max-width: 680px;
        text-align: center;
        background-color: rgb(40, 40, 50);
        transition: 0.1s;
    }
    a:hover {
        background-color: scale-color(rgb(40, 40, 50), $lightness: 5%);
    }
}

.augmero-home-button {
    top: 2em;
    opacity: 70%;
    margin-left: -0.5em;
    img {
        height: 2em;
        width: 2em;
    }
}

.augmero-home-button:hover {
    opacity: 100%;
}

.augmero-header {
    position: sticky;
    display: flex;
    flex-flow: row;
    top: 0;
    padding: 0.5em;
    background-color: #191d21;
    opacity: 95%;
}

.augmero-content {
    margin: auto;
    // max-width: max(72em,100%);
    max-width: 72em;
    padding: 0 12em;
    // overflow-x: hidden;
    a {
        color: skyblue;
    }
    img {
        max-width: 100%;
    }
}

.augmero-quick-menu-floater {
    height: 0;
    width: 0;
    margin-left: auto;
    float: right;
}

.augmero-quick-menu {
    position: sticky;
    top: 0;
    float: left;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-flow: column;
    padding: 0.2em 0.6em 0.4em 0.6em;
    border-radius: 15px;
    margin-left: .5em;
    white-space: nowrap;
    .augmero-quick-menu-links {
        display: flex;
        flex-flow: column;
        white-space: nowrap;
    }
    a {
        user-select: none;
    }
}

@media screen and (max-width:1160px) {
    .augmero-content {
        padding: 0 6em;
    }
    .augmero-quick-menu-floater {
        width: 12em;
        position: absolute;
        top: 0;
        right: -6em;
        .augmero-quick-menu {
            float: right;
            text-align: right;
        }
    }
}
